body {background-color:black;font-family:arial;color:white; align-items: center;
    margin: auto;}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:700px;
    padding:40px;
    border-radius:30px;
    align-items: center;
    margin: auto;
    
    
    
}
